/* line 1, ../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_main.sass */
html {
  height: 100%;
}

/* line 9, ../sass/partials/_main.sass */
body {
  background-size: 100% 100%;
  margin: 2.5em;
}
@media (max-width: 651px) {
  /* line 9, ../sass/partials/_main.sass */
  body {
    margin: 0.5em;
  }
}

/* line 16, ../sass/partials/_main.sass */
h2 {
  color: blue;
}

/* line 19, ../sass/partials/_main.sass */
.item {
  background: gray;
  padding: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

/* line 27, ../sass/partials/_main.sass */
.header-font {
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 30, ../sass/partials/_main.sass */
.thumbimg {
  background: red;
  display: none;
}

/* line 34, ../sass/partials/_main.sass */
.desc {
  background: aqua;
  float: right;
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
}
@media (max-width: 651px) {
  /* line 34, ../sass/partials/_main.sass */
  .desc {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 41, ../sass/partials/_main.sass */
.buyBtn {
  width: 5em;
  height: 2em;
  background: blue;
  color: white;
  padding: 0.5em;
}

@media (max-width: 651px) {
  /* line 48, ../sass/partials/_main.sass */
  .content1, .content2, .content3 {
    height: 200px;
  }
}
