/* line 1, ../sass/partials/_main.sass */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_main.sass */
html {
  height: 100%;
}

/* line 9, ../sass/partials/_main.sass */
body {
  background: url("../img/Robot-writing.jpg");
  background-size: 100% 100%;
  margin: 0em;
  padding: 1em;
  font-family: "Open Sans";
  font-style: normal;
}
@media (max-width: 651px) {
  /* line 9, ../sass/partials/_main.sass */
  body {
    margin: 0.5em;
  }
}

/* line 19, ../sass/partials/_main.sass */
h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-strength: 400;
  font-size: 1.5em;
  color: #37474f;
  color: red;
}

/* line 28, ../sass/partials/_main.sass */
.loginInput {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background-color: #ccc;
}

/* line 32, ../sass/partials/_main.sass */
.mainScrn {
  width: 100%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  height: 100%;
  background: #ddd;
  padding: 1em;
  color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* line 45, ../sass/partials/_main.sass */
.centerPiece {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: aqua;
  position: absolute;
  left: 33%;
}

/* line 52, ../sass/partials/_main.sass */
.navBar {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  background: #ccc;
  float: right;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 6em;
}
@media (max-width: 651px) {
  /* line 52, ../sass/partials/_main.sass */
  .navBar {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    margin: 0em;
  }
}

/* line 65, ../sass/partials/_main.sass */
.mainBtn {
  width: 32.20339%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 0.5em;
  position: absolute;
  left: 33%;
  cursor: pointer;
}

/* line 72, ../sass/partials/_main.sass */
.homeBtn {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-bottom: 0.5em;
  float: right;
  cursor: pointer;
}

/* line 78, ../sass/partials/_main.sass */
.navBtn {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  margin-right: 0.5em;
  height: 3em;
  background: aqua;
  float: right;
  cursor: pointer;
}
