* 
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html 
  height: 100%

body
  background-size: 100% 100%
  //background: gray
  margin: 2.5em
  +at-breakpoint($phone)
    margin: 0.5em

h2
  color: blue

.item
  background: gray
  padding: 1em
  cursor: pointer

.header-font
  font-family: "Open Sans", Arial, sans-serif

.content
  height: 10em
  width: 100%
  background: pink